name: lint

on:
  push:
    branches: ["main"]
    tags: 'v*'
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.20'
          cache: true
          cache-dependency-path: go.sum

      - name: lint
        run: golangci/golangci-lint-action@v3

      - name: test
        run: go test -v ./...